body {
  font-family: "Poppins",
 sans-serif;
  color: #0c0c0c;
  background-color: #fff3e4;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  font-weight: bold;
  color: #000000;
  position: relative;
}

/*header section*/
.hero_area {
  position: relative;
}

.header_section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
  width: 22px;
  margin-right: 15px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 25px;
  color: #fefeff;
  text-align: center;
  font-family: "Roboto",
 sans-serif;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 15px;
  top: 14px;
}

.custom_menu-btn button {
  margin-top: 7px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#subpage-button span{
  background-color: #000000;
}

.custom_menu-btn .custom_menu-btn .s-2 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.menu_btn-style button {
  position: fixed;
  right: 29px;
  top: 14px;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translateY(16px);
          transform: rotate(45deg) translateY(16px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translateY(-16px);
          transform: rotate(-45deg) translateY(-16px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #003c8be6;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay img{
  height: 30px;
  padding: 0px 0px 3px 0px;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 2px 0px;
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 18px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  margin: 0 40px 0 15px;
  background-position: center;
}

.navbar-brand {
  /*la decision de altura la dijo ary*/
  margin-top: 80px;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  position: fixed;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1120px) {
  .navbar-brand.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    }
  
  .navbar-brand {
    margin-top: 50px;
    transition: transform 0.3s ease;
  }
}

/*THis is for future changes of logo navbar */
.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #240a5e;
}


.navbar-brand img {
  width: 110px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(images/logo_de_dots_and_games-removebg.png);
  background-size: 55px;
}

.user_option {
  margin-left: auto;
  margin-right: 95px;
}

.user_option a {
  color: #fefdfc;
  font-size: 16px;
}
/*end header section*/


.slider_section .carousel {
  position: unset;
}

.slider_section .slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_section .slider_container .img-box {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
}

.slider_section .slider_container .img-box video {
  width: 100%;
  margin-bottom: -6px;
}

.slider_section .slider_container .detail_container {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #003c8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider_section .slider_container .detail_container #carouselExampleControls {
  width: 100%;
}

.slider_section .slider_container .detail_container .detail-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.slider_section .slider_container .detail_container .detail-box h1 {
  font-family: "Open Sans",
 sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #fefdfc;
  font-size: 3.5rem;
}

.slider_section .slider_container .detail_container .detail-box h2 {
  font-family: "Open Sans",
 sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fefdfc;
  font-size: 3.5rem;
}

.slider_section .slider_container .detail_container .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #FFD65C;
  color: #000000;
  font-weight: bold;
  border-radius: 0;
  border: 2px solid #000000;
  text-transform: uppercase;
  margin-top: 35px;
}

.slider_section .slider_container .detail_container .detail-box a:hover {
  background-color: transparent;
  color: #ffcbcb;
  font-weight: bolder;
  border: 3px solid #ffcbcb;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  width: 50px;
  height: 50px;
  left: 0;
  opacity: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-repeat: no-repeat;
  background-color: #240a5e;
  background-size: 20px;
  background-position: center;
}

.slider_section .carousel-control-prev {
  top: 15%;
  background-image: url(../images/prev.png);
}

.slider_section .carousel-control-next {
  top: initial;
  bottom: 15%;
  background-image: url(../images/next.png);
}



.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box {
  padding: 30px 0px 0px 100px;
  text-align: center;
}

.about_section .detail-box h2 {
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 8px 25px;
  background-color: #A30000;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #000000;
  margin-top: 15px;
  transition: transform 0.1s ease;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  font-weight: bold;
  color: #A30000;
  border: 1px solid #A30000;
  animation: vibrate 0.3s linear;
}

.best_section {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  padding: 25px 0;
}

.best_section .book_now {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best_section .book_now .detail-box h2 {
  font-weight: bold;
}

.best_section .book_now .detail-box p {
  margin: 0;
}

.best_section .book_now img {
  width: 20px;
}

.rent_section {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* bg for it to be opaque by itself, not the content */

.rent_section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(images_in_css/games_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.25; 
  z-index: -1;
}

/* iOS override */
@supports (-webkit-touch-callout: none) {
  .rent_section::before {
    background-attachment: scroll; /* Fixes zoomed/pixelated issue on iOS */
  }
}

.rent_section .heading_container h2 {
  color: #6f6e6e;
  margin-bottom: 35px;
}

.rent_section .heading_container h2::first-letter {
  color: #000000;
}

.rent_section .heading_container h2 span {
  color: #2e303c;
}

.rent_section .rent_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rent_section .rent_container .box {
  width: 340px;
  margin: 30px;
  background-color: #cdc3b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 25px;
  padding-bottom: 0;
  border-radius: 20px;
}

.rent_section .rent_container .box .img-box {
  margin: 10px 0px 15px 0px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding: 3px; /* space for the border */
  background: transparent;
  transition: .5s;
}

.rent_section .rent_container .box .img-box:hover {
  transform: scale(1.08);
  background: linear-gradient(45deg, red, red, red, red, red, red, red, red, orange, yellow,
   green, cyan, blue, cyan, green,
   yellow, orange, red, red, red, red, red, red, red, red);
  background-size: 800% 800%;
  animation: led-glow 10s linear infinite;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5); /* subtle glow */
}

.rent_section .rent_container .box .img-box img {
  padding-top: 3px;
  padding-bottom: 3px;
  width: 272px;
  height: 310px;
}

@keyframes led-glow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.rent_section .rent_container .box .img-box a {
  display: inline-block;
}

.rent_section .rent_container .box .price p {
  padding: 8px 25px;
  margin-bottom: 10px;
  color: #000000;
  border-radius: #000000;
}

.rent_section .rent_container .box .price a {
  display: inline-block;
  padding: 8px 25px;
  margin-bottom: 5px;
  background-color: #185838;
  color: #fefdfc;
  border-radius: #000000;
  border: 1px solid #ffffff;
  border-radius: 200px;
  font-weight: bold;
  transition: .5s;
}

.rent_section .rent_container .box .price a:hover {
  transform: scale(1.2);
}

.rent_section .rent_container .box .price p {
  font-weight: bolder;
}

.rent_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rent_section .btn-box a {
  display: inline-block;
  text-align: center;
  padding: 10px 65px;
  background-color: #A30000;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #000000;
  margin-top: 35px;
  transition: transform 0.1s ease;
}

.rent_section .btn-box a:hover {
  background-color: #004aad;
  color: #fefdfc;
  animation: vibrate 0.3s linear;
}

@keyframes vibrate {
  0% { transform: translateX(0); }
  20% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  60% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}

.blog_section .blog_container {
  width: 90%;
  margin: auto;
}

.blog_section .item {
  background-color: #fff5f5;
  transition: .5s;
}

.blog_section .item:hover {
  transform: scale(1.1);
}

.blog_section .blog_container .date-box {
  padding: 15px 25px;
  color: #252525;
  position: relative;
  z-index: 2;
  text-align: center;
}

.blog_section a{
  color: #000000;
}

.blog_section a:hover{
  color: #0056B3;
}

.blog_section .blog_container .date-box h6 {
  margin: 0;
}

.blog_section .blog_container .box {
  height: 500px;
  margin: 45px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.blog_section .blog_container .box .img-box {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.blog_section .blog_container .box .img-box img {
  width: 100%;
}

.blog_section .blog_container .box .detail-box {
  padding: 15px;
}

.blog_section .blog_container .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .blog_container .box .detail-box p {
  margin: 0;
}

.us_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.us_section .us_container {
  background-image: url(../images/us-bg.jpg);
  background-size: cover;
}

.us_section .us_container .content_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.us_section .us_container .content_box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 25px;
}

.us_section .us_container .content_box .box .img-box img {
  max-width: 100%;
}

.us_section .us_container .content_box .box .detail-box {
  margin-top: 15px;
}

.us_section .us_container .content_box .box .detail-box h5 {
  color: #fefdfc;
}

.us_section .us_container .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.us_section .us_container .btn-box a {
  display: inline-block;
  padding: 10px 65px;
  background-color: #fefdfc;
  color: #1a1919;
  border-radius: 0;
  border: 1px solid #fefdfc;
  margin-top: 35px;
}

.us_section .us_container .btn-box a:hover {
  background-color: transparent;
  color: #fefdfc;
}

.client_section {
  font-family: "Open Sans",
 sans-serif;
}

.client_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.client_section .box .detail-box {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 25px;
}

.client_section .box .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.client_section .box .client_id .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #f2f2f2;
}

.client_section .box .client_id .img-box img {
  width: 25px;
}

.client_section .box .client_id .img-box .img-2 {
  display: none;
}

.client_section .box .client_id .name {
  margin-top: 10px;
}

.client_section .box .client_id .name h6 {
  font-weight: 600;
}

.client_section .box:hover .client_id .img-box {
  background-color: #2e1b69;
}

.client_section .box:hover .client_id .img-box .img-1 {
  display: none;
}

.client_section .box:hover .client_id .img-box .img-2 {
  display: inline-block;
}

.client_section .carousel-wrap {
  margin: 0 auto;
  padding: 0 5%;
  position: relative;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  outline: none;
}

.client_section .owl-carousel .owl-nav .owl-prev {
  left: calc(50% - 45px);
  background-image: url(../images/left-angle.png);
}

.client_section .owl-carousel .owl-nav .owl-prev:hover {
  background-image: url(../images/left-angle-grey.png);
}

.client_section .owl-carousel .owl-nav .owl-next {
  right: calc(50% - 45px);
  background-image: url(../images/right-angle.png);
}

.client_section .owl-carousel .owl-nav .owl-next:hover {
  background-image: url(../images/right-angle-grey.png);
}

.contact_section {
  background: #004094 ;
  background-size: cover;
  color: #fefdfc;
}

.contact_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 45px;
}

.contact_section .heading_container h2 {
  color: #fefdfc;
}

.contact_section .form_container form .form-control {
  border: none;
  background-color: #fefdfc;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 20px;
  height: 45px;
  margin: 5px 0;
  border-radius: 0;
}

.contact_section .form_container form #inputMessage {
  height: 90px;
}

.contact_section .form_container form button {
  display: inline-block;
  padding: 10px 65px;
  background-color: #fff3e4;
  color: #004094;
  border-radius: 0;
  border: 1px solid #fff3e4;
  text-transform: uppercase;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
}

.contact_section .form_container form button:hover {
  background-color: transparent;
  color: #fff3e4;
}

.contact_section .contact_items {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_section .contact_items a {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section .contact_items a .img-box {
  width: 75px;
  min-width: 75px;
  margin-right: 15px;
}

.contact_section .contact_items a .img-box img {
  max-width: 100%;
}

.contact_section .contact_items a h6 {
  color: #fefdfc;
  margin: 0;
}

.contact_section .social_container {
  margin-top: 45px;
}

.contact_section .social_container .social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 20px auto;
}

.contact_section .social_container .social-box img {
  width: 30px;
  margin-left: 8px;
}

.map_section {
  height: 400px;
}

.map_section .map_container {
  height: 100%;
}

.map_section .map_container .map-responsive {
  height: 100%;
}

.container-map-contacts {
  margin-top: 20px;
  display: inline-block;
  width: 45%;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;}


/* footer section*/
.footer_section {
  background-color: #fff3e4;
  padding: 20px;
}

.footer_section p {
  margin: 0;
  text-align: center;
  color: #000000;
}

.footer_section a {
  color: #fefdfc;
}
/*# sourceMappingURL=style.css.map */

#dev_name {
  font-weight: bold;
  text-decoration: underline;
  color: #0F5C00;
}